pandas
numpy
matplotlib
seaborn
nltk
wordcloud
joblib
scikit-learn
scipy
streamlit>=1.39.0
plotly
audio-recorder-streamlit
SpeechRecognition
gTTS
langdetect
deep-translator
standard-imghdr